@charset "utf-8";

#work_place{width: 100%;margin: 0 auto;margin-top: 15vh;}
#work_place>h3{font-size: 10vw;color: #333;font-weight: bold;text-align: center;}
#work_place>img{display: block;height: 7vh; margin-top: 7vh;margin-left: 6vw;}

.tab_wrap{overflow: hidden; width: 100%;margin-top: 5vh;}

.tap_menu{overflow: hidden; width: 100%;margin-right: 0px;margin: 0 auto;}
.tap_menu>ul{overflow: hidden; width:80%; height: 10vh; margin: 0 auto;margin-bottom: 2vh;}
.tap_menu>ul>li{float: left;width: 50%;height: 8vh;border: 2px solid #bcbcbc; font-size: 4vw;font-weight: bold;box-sizing: border-box;text-align: center;line-height: 8vh;}
.tap_menu>ul>li>a{display: block;width: 100%;height: 100%;}
.tap_menu>ul>li>a.current{color:#fff ;background-color: #2f42a1;}

.tap_menu>.sub_tab1{width: 100%;}

.tap_menu>div.sub_menu{display: none;}
.tap_menu>div.sub_menu div.tab{display: none;}



.tap_menu>.sub_menu>ul{overflow:hidden;width: 100%;margin: 0 auto;}
.tap_menu>.sub_menu>ul>li{float: left;width: 33%;height: 8vh;border: 2px solid #bcbcbc; font-size: 4vw;font-weight: bold;box-sizing: border-box;text-align: center;line-height: 8vh;}
.tap_menu>.sub_menu>ul>li>a{display: block;width: 100%;height: 100%;}
.tap_menu>.sub_menu>ul>li>a.sub_current{color:#fff ;background-color: #2f42a1;}

.tap_menu>.sub_tab2>ul{width: 100%}
.tap_menu>.sub_tab2>ul>li{width: 50%;}



.tap_menu>.sub_tab1>.tab_cnt_wrap{width: 100%}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab{margin-bottom: 5vh;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>h4{margin-top: 5vh;margin-left: 6%;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>h4>img{display: block;height: 7vh;}

.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>dl.ship_info{overflow: hidden; width: 95%;margin: 10vh auto;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>dl.ship_info>dt{float:left; width: 100%;font-size: 6vw;font-weight: bold;color: #333;text-align: left;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>dl.ship_info>dd.thumnail{float:right;display: block; width: 80%;margin-top: 3vh;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>dl.ship_info>dd.thumnail>img{display: block; width: 100%;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>dl.ship_info>dd.bold_txt{float:left; font-size: 5vw;font-weight: bold;color: #2f42a1;margin-top: 2vh;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>dl.ship_info>dd.ship_txt{float:left;width: 100%; font-size: 5vw;color: #333;margin-top: 2vh;line-height: 5vw;}

.tap_menu>.sub_tab1>.tab_cnt_wrap>.tab>dl.product_info{overflow: hidden; width: 95%;margin: 5vh auto;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.sub_con3>.product_info>dt.product_tit{float:left;width: 30vw;color: #2f42a1;font-size: 5vw;font-weight: bold;text-align: left;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.sub_con3>.product_info>.product_txt{float:right;width: 95%;font-size: 4.5vw;color: #333;padding-top: 3vh;}

.tap_menu>.sub_tab1>.tab_cnt_wrap>.sub_con3>.product_info>.product_img{float: right;width: 100%;margin: 2vh 0;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.sub_con3>.product_info>.product_img:last-child{margin-bottom: 0px;}
.tap_menu>.sub_tab1>.tab_cnt_wrap>.sub_con3>.product_info>.product_img>img{display:block;width: 100%;}

.tab_cnt_wrap>.sub_con1>.tab_sub_tab1>ul{overflow:hidden;width: 100%;margin: 0 auto;margin-top: 2vh;}
.tab_cnt_wrap>.sub_con1>.tab_sub_tab1>ul>li{float: left;width: 33%;height: 8vh;border-bottom: 1px solid #bcbcbc; font-size: 4vw;font-weight: bold;box-sizing: border-box;text-align: center;line-height: 8vh;}
.tab_cnt_wrap>.sub_con1>.tab_sub_tab1>ul>li>a{display: block;width: 100%;height: 100%;}
.tab_cnt_wrap>.sub_con1>.tab_sub_tab1>ul>li>a.sub2_current{color:#2f42a1 ;border-bottom: 5px solid #2f42a1;box-sizing: border-box;}

.tap_sub_menu>.tab_cnt_wrap>.tab2>dl.tech_info{overflow: hidden; width: 95%;margin-top: 2vh;margin-left: 2.5%; border-bottom: 1px solid #bcbcbc;padding-bottom: 2vh;}
.tap_sub_menu>.tab_cnt_wrap>.tab2>dl.tech_info>dt.tech_tit{float:left;width: 100vw;color: #2f42a1;font-size: 5vw;font-weight: bold;text-align: left;margin: 2vh auto;}
.tap_sub_menu>.tab_cnt_wrap>.tab2>dl.tech_info>dd.thumnail{float:right;display: block; width: 95%;margin-left: 5%;}
.tap_sub_menu>.tab_cnt_wrap>.tab2>dl.tech_info>dd.thumnail>img{display: block; width: 100%;}
.tap_sub_menu>.tab_cnt_wrap>.tab2>dl.tech_info>dd.tech_txt{float: left;width: 95%;margin-left: 2.5%; margin-top: 2vh; font-size: 4.5vw;color: #333;line-height: 5vw;}

.tab_cnt_wrap>.sub_con2>.tab_sub_tab2{margin-bottom: 10vh;}
.tab_cnt_wrap>.sub_con2>.tab_sub_tab2>ul{overflow:hidden;width: 100%;margin: 2vh auto;}
.tab_cnt_wrap>.sub_con2>.tab_sub_tab2>ul>li{float: left;width: 33%;height: 8vh;border-bottom: 1px solid #bcbcbc; font-size: 3.8vw;font-weight: bold;box-sizing: border-box;text-align: center;line-height: 8vh;}
.tab_cnt_wrap>.sub_con2>.tab_sub_tab2>ul>li>a{display: block;width: 100%;height: 100%;}
.tab_cnt_wrap>.sub_con2>.tab_sub_tab2>ul>li>a.sub2_current{color:#2f42a1 ;border-bottom: 4px solid #2f42a1;box-sizing: border-box;}