@charset "utf-8";


#sub_visual{position:relative; width: 1280px;height: 400px;}
#sub_visual>.sub_tit{position: absolute;width: 402px;height: 233px;   top: 318px;right: 0;}
#sub_visual>.sub_tit>img{display: block;}
#sub_visual>.sub_img>img{display: block;}

#invest{width: 1280px;margin: 100px auto;}
#invest>h3{font-size: 40px;color: #333;margin-left: 88px;}
#invest>img{display: block;width: 346px;height: 61px;margin-left: 88px;margin-top: 80px;}

.inv_con{width: 1192px;margin-left: 88px;}
.inv_con>h4{font-size: 25px;color: #333;margin-top: 75px;}
.inv_con>h4>span{font-size: 16px;}
.inv_con>img{display:block;width: 100%; margin-top: 35px;}

.fin_data {width:100%;border-top:2px solid #7c7c7c;border-bottom:1px solid #7c7c7c;margin-top: 35px;font-size: 16px;}
.fin_data thead th {padding:10px 30px;padding-left: 0; text-align:right;}
.fin_data thead th.first { text-align:left;}
.fin_data tbody .first th,.fin_data tbody .first td{border-top:2px solid #7c7c7c;}
.fin_data tbody td {border-top:1px solid #ddd;padding:10px 30px;padding-left: 0; text-align:right;}
.fin_data tbody th {border-top:1px solid #ddd;text-align:left;padding:10px 15px;padding-right: 0; text-align:left;font-weight:normal;background:#f1f1f1;border-right:1px solid #e4e4e4;}
.fin_data tbody .total {background:#f1f1f1;border-top:1px solid #d8d8d8;border-bottom:1px solid #7c7c7c;}
.fin_data tbody .total th {font-weight:bold;color:#333333;background:#f8f8f8;border-right:none;}
.fin_data tbody .total td {font-weight:bold;}