@charset "utf-8";


#sub_visual{position:relative; width: 1280px;height: 400px;}
#sub_visual>.sub_tit{position: absolute;width: 402px;height: 233px;   top: 318px;right: 0;}
#sub_visual>.sub_tit>img{display: block;}
#sub_visual>.sub_img>img{display: block;}

#talent{width: 1280px;margin: 100px auto;}
#talent>h3{font-size: 40px;color: #333;margin-left: 88px;}
#talent>img{display: block;width: 1192px;height: 765px;margin-left: 88px;margin-top: 80px;}

